.assentos {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(5, auto);
    row-gap: 10px;
    column-gap: 5px;
    margin: 0px 25px 25px 25px;
    justify-items: center;
}
li {
    width: 25px;
    height: 25px;
    background-color: #c3cfd9;
    border: 1px solid #808fd9;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
}
.selecionado {
    background-color: #8dd7cf;
    border: 1px solid #45bdb0;
}
.indisponivel {
    background-color: #fbe192;
    border: 1px solid #f7c52b;
}
.bloco-legenda {
    display: flex;
    justify-content: space-around;
    margin: 0px 25px;
}
.legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nome-legenda {
    font-size: 13px;
    font-weight: 400;
    color: #4e5a65;
}
.infos-comprador {
    margin: 25px 25px 0px 25px;
}
.dados-comprador {
    font-size: 18px;
    font-weight: 400;
    color: #293845;
    margin-bottom: 5px;
}
input {
    width: 100%;
    height: 51px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin-bottom: 10px;
}
input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #afafaf;
    align-items: center;
    padding-left: 10px;
}
.centralizar-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.reservar {
    width: 225px;
    height: 42px;
    background-color: grey;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    pointer-events: none;
}
.reservar.ativado {
    background-color: #e8833a;
    pointer-events: all;
}
li:hover {
    filter: brightness(0.8);
    cursor: pointer;
}
.legenda > li:hover {
    filter: none;
    cursor: default;
}
.selecionado:hover {
    filter: brightness(0.8);
    cursor: pointer;
}
.indisponivel:hover {
    cursor: not-allowed;
}
.reservar.ativado:hover {
    filter: brightness(1.2);
    cursor: pointer;
}