header {
    height: 67px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 34px;
    color: #e8833a;
    background-color: #c3cfd9;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}